a {
    color: lightgrey;
    text-decoration: none;
    font-size: large;
}

li::marker {
    content: '+ ';
    color: crimson;
}

h1 {
    color: lightgray;
}

.container {
    grid-template-columns: 200px 250px 500px;
    column-gap: 10px;
    row-gap: 15px;
    justify-items: start;
}
.menu {
    grid-column-start: 1;
    grid-row-start: 1;
}

.prices {
    grid-column-start: 2;
}

.chart {
    grid-column-start: 3;
}

body {
    background: url('./gardendoor.webp') no-repeat center center fixed;
    background-size: cover;
}

.borders {
    -webkit-text-stroke: 1px black;
}

button {
    color: black;
}

.information {
    color: black !;
    background-color: white;
    margin-left: 800px;
    margin-top: 50px;
    width: 400px;
    padding: 4px;
    height: max-content;
}

span,
p,
main {
    color: lightgray;
}

.footer {
    color: lightgray;
    background-color: black;
    height: fit-content;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    position: absolute;
    z-index: 2;
}